.todayTab-container {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    align-content: stretch;


}
.single-hour {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--clr-dark);
}
.hour {
    padding-top: 1rem;
    border-top: 1px solid var(--clr-pink);
}
